name: Build

on:
  pull_request:
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest
        ocaml-compiler:
          - 4.13.x

    runs-on: ${{ matrix.os }}

    steps:
      - run: |
          sudo apt-get update

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . --deps-only --with-test

      - run: opam exec -- dune build --profile release

      - run: opam exec -- dune runtest

      # Build and deploy release build with --no-inline to /no-inline
      - run: |
          # Add --no-inline flag from dune file
          sed -i 's/(libraries brr bigstringaf js_of_ocaml-lwt camlboy_lib)/(libraries brr bigstringaf js_of_ocaml-lwt camlboy_lib) (js_of_ocaml (flags (:standard --no-inline)))/' bin/web/dune
          opam exec -- dune build --profile release --build-dir _build-no-inline
          cp -r _build-no-inline/default/bin/web _build/default/bin/web/no-inline

      - name: Deploy website
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/default/bin/web
